{% url "products:list" as products_list_url %}
{% url "carts:home" as cart_home_url %}
{% url "accounts:logout" as logout_url %}
{% url "accounts:login" as login_url %}
{% url "accounts:register" as register_url %}
{% url "contact_url" as contact_url %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">{{ site_title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == cart_home_url %}active{% endif %}">
        <a class="nav-link nav-cart-count" href="{% url 'carts:home' %}">{{ request.session.cart_items }} <i class="fas fa-shopping-cart"></i></a>
      </li>
      <li class="nav-item {% if request.path == products_list_url %}active{% endif %}">
        <a class="nav-link" href="{% url "products:list" %}">Products</a>
      </li>
      <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
        <a class="nav-link" href="{% url "contact_url" %}">Contact us</a>
      </li>
     {% if request.user.is_authenticated %}
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if user.is_superuser %}
              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
            {% else %}
                <a class="dropdown-item" href="/profile">{% firstof request.user.get_full_name %}</a>
            {% endif %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
        </div>
      </li>


     {% else %}
      <li class="nav-item {% if request.path == login_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
      </li>
      <li class="nav-item {% if request.path == register_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
      </li>
     {% endif %}
    </ul>
    {% include 'search/snippets/search-form.html' %}
  </div>
</nav>