{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    {% include "base/css.html" %}
</head>
<body>

{% include "base/navbar.html" with site_title='K T Aquarium' %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% include "base/js.html" %}

    {% block bottom %}{% endblock %}

    <script src="{% static 'js/search.js' %}"></script>
</body>
</html>