{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Page{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Contact Page</h1>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6 col-12">
                <form class="contact-form" method="post" action="{% url 'contact_url' %}">{% csrf_token %}
                    {{ form.as_p }}
                    <div class="g-recaptcha brochure__form__captcha" data-sitekey="6Lct81saAAAAAM4WQh6sPw9MuZbeX8TXHKTvpERm"></div>
                    <button type="submit" class="btn btn-success">Send</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom %}
<script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{% static 'js/contact.js' %}"></script>

{% endblock %}