{% extends "base.html" %}

{% block title %}
    Homepage
{% endblock %}
{% block content %}
 <div class="col-md-4">
          <a class="btn-floating btn-sm btn-primary" href="#carousel-example-multi" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
          <a class="btn-floating btn-sm btn-primary" href="#carousel-example-multi" data-slide="next"><i class="fas fa-chevron-right"></i></a>
        </div>
 <div class="col-md-8">
<h4 >
    Welcome to KT AQUARIUM   
    <span class="badge badge-success"> Click
        <a href="https://www.youtube.com/channel/UCofgooCg4D-vz0GD9jozFfw/videos" target="_blank" title="click to view our channel">
            <i class="fas fa-fish" aria-hidden="true"></i></a>
    </span>
</h4> </div>
 <div class="row">
        {% for object in product_obj %}
            <div class="col-3 mr-2">
                {% include "products/snippets/card.html" with instance=object %}
            </div>
        {% endfor %}
   </div>
<div class="container">
    <div class="row">
        <div class="col-md-4">

<div class="container-fluid">

  <section>
  
      <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2 product-carousel" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for p in products %}  
          {% if forloop.counter  == 1 %}       
          <div class="carousel-item active mx-auto">
            <div class="col-12 col-md-12 col-lg-12 mx-auto">
              <div class="card mb-6">
                <div class="view overlay">
                  <img class="card-img-top" src="/media/products/31748983004.jpg" alt="Card image cap">
                  <!-- <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a> -->
                </div>
                <div class="card-body p-6">
                  <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">{{ p.title }}</h5>
                  <br>
                 <a href="/products" class="btn btn-primary btn-sm">Order Now <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="carousel-item">
            <div class="col-12 col-md-12 col-lg-12 mx-auto">
              <div class="card mb-2">
                <div class="view overlay">
                  <img class="card-img-top" src="/media/products/3585227823.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a> 
                </div>
                <div class="card-body p-3">
                  <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">{{ p.title }}</h5>
                  <br>
                  <a href="/products" class="btn btn-primary btn-sm">Order Now <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          <!-- <div class="carousel-item">
            <div class="col-12 col-md-12 col-lg-12 mx-auto">
              <div class="card mb-2">
                <div class="view overlay">
                  <img class="card-img-top" src="/media/products/3585227823.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a> 
                </div>
                <div class="card-body p-3">
                  <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Shrimp</h5>
                  <a href="/products" class="btn btn-primary btn-sm">Order Now <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div> -->

        </div>

      </div>

  </section>

</div>


        </div><!--.col -->

        <div class="col-md-6">
            <div class="vid">
                <iframe width="560" height="315" src="//www.youtube.com/embed/B6yEucF3lP0" allowfullscreen=""></iframe>
            </div><!--./vid -->

        </div><!--.col -->
        <div class="col-md-2">
            <img src="/media/products/b.jpeg" height="315" width="160%" class="img-responsive center-block" alt="tv">

        </div>


    </div><!--./row -->

</div><!--./container -->

<!--Product List-->
{% endblock %}

{% block bottom %}
    {% include 'carts/snippets/cart-ajax.html' %}
{% endblock %}