{% extends "base.html" %}
{% load l10n %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
<style>
    .table-responsive {
        max-height:250px;
        }
</style>
    <h1>Your Profile Info</h1>
            </tr>

<div class="card">
 <b>Full Name: </b> <h4>{% firstof request.user.get_full_name %}</h4>
 <b>Email: </b> <h4>{% firstof request.user.get_username %}</h4>

</div><br>
<b>Your Order Details:{{id}} </b>
<br>

    <div class=" cardpanel-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Order Code</th>
                    <th>Status</th>
                    <th>Shipping Total</th>
                    <th>Order Total</th>
                    <th>Uploaded Receipt Image</th>
                    <th>Courier Image</th>
                    <th>Track code</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{order.order_code}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.shipping_total}}</td>
                    <td>{{order.order_total}}</td>
                    <td><a href="/media/{{order.cart.receipt }}">{{order.cart.receipt }}</a></td>
                    <td><a href="/media/{{order.courier_proof}}">{{order.courier_proof}}</a></td>
                    <td>{{order.track_code}}</td>
                </tr>      
                {% endfor %}         
            </tbody>
        </table>
    </div>
                   
{% endblock %}

{% block bottom %}
    {% include 'carts/snippets/cart-ajax.html' %}
{% endblock %}