{% extends "base.html" %}
{% load l10n %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<div class="alert alert-danger" role="alert">
  <strong>PAY NOW & UPLOAD</strong> Use any one of the payment method in below table for sending money 
  and upload your receipt before clicking checkout button then only we can process your order.
</div>
    <table class="table table-striped">
      <thead>
        <th><span class="badge badge-info"><i class="fas fa-rupee-sign"></i></span> For Bank Transfer Account Details</th>
        <!-- <th><span class="badge badge-info"><i class="fab fa-google-pay"></i></span> For GooglePay </th>
        <th><span class="badge badge-info"><i class="far fa-credit-card"></i></span> For PhonePe </th>
        <th><span class="badge badge-info"><i class="far fa-credit-card"></i></span> For Paytm </th> -->
        </thead>
        <tbody>
          <tr>
            <td>
              NAME: <b>T.Immon santhosh</b> <br>
              ACCOUNT NUMBER: <b>500101011889772</b><br>
              IFSC CODE: <b>CIUB0000048</b><br>
              BRANCH: <b>tirunelveli-town</b>
            </td>
            <!-- <td>
              PHONE NUMBER: <b> +91 9361765096</b>
            </td>
            <td>
              PHONE NUMBER: <b> +91 9361765096</b>
            </td>
            <td>
              PHONE NUMBER: <b> +91 9361765096</b>
            </td> -->
          </tr>
      </tbody>
  </table>
    <h1>Cart</h1>
    {% if cart.products.exists %}
        <table class="table cart-table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Product Price</th>
                <th scope="col">Qty</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody class="cart-body">
            {% for pc in cart.productcount_set.all %}
                <tr class="cart-products">
                  <th scope="row">{{ forloop.counter }}</th>
                  <td><a href="/products/detail/{{pc.product_id.slug }}">{{pc.product_id.title}}</a></td>
                  <td>{{pc.product_id.price|floatformat:2|localize }}</td>
                    <td>
                     <div class="form-group col-md-12">
                      <label class="control-label col-sm-2 col-md-6" for="qty{{pc.product_id.id}}">Product Count:</label>
                      <div class="col-sm-2 col-md-6">
                          <form class="form form-product-ajax" method="POST" action="{% url 'carts:update' %}" data-endpoint="{% url 'carts:home_api' %}">
                            {% csrf_token %}
                               <input class="cart-item-product-id" type="hidden" name="product_id" value="{{ pc.product_id.id }}">
                              <input class="cart-id" type="hidden" name="cart_id" value="{{ pc.cart_id }}">
                        <input type="number" class="form-control" id="qty{{pc.product_id.id}}" value="{{pc.count}}" name="qty" min="1" oninput="this.value =
 !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" onchange="this.form.submit()">

                          </form>
                      </div>
                    </div>
                    </td>
                  <td>
                     {% include "carts/snippets/remove-product.html" with product_id=pc.product_id.id cart=cart %}
                  </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td><b>Subtotal: </b> <span class="cart-subTotal">{{ cart.subtotal|floatformat:2|localize }}</span> ₹</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td><b>Total: </b> <span class="cart-total">{{ cart.total|floatformat:2|localize }}</span> ₹</td>
            </tr>
            <tr>
                <td colspan="3"></td>                
                <td>
                  <form method="post" enctype="multipart/form-data" id="formimage">
                    {% csrf_token %}
                    <b>Upload your Receipt: </b>
                    <input type="hidden" value="{{ cart }}" name="cart_id"  id="cart_id"/>
                    <input type="file" id="receipt" name="receipt" id="file" required/>
                    <input type="submit" value="save" />
                  </form>
                </td>
                <td><button id="checkout" class="btn btn-block btn-success" onclick="window.location.href='{% url "carts:checkout" %}';" {% if not cart.receipt %} disabled {%endif%} >Checkout</button>
                {% if cart.receipt  %}
                <a href="/media/{{ cart.receipt }}">click to view uploaded receipt file</a>
                {% endif %}
                </td>
            </tr>
          </tbody>
        </table>        
        <div class="cart-item-remove-form" style="display: none">
            {% include 'carts/snippets/remove-product.html' %}
        </div>
    {% else %}
        <p class="lead">Cart is empty.</p>
    {% endif %}
    <script>
      var token = '{{csrf_token}}';
      $(document).ready(
    function(){
       
                  $("#formimage").submit(function(e) {
                      e.preventDefault(); 
                      var formData = new FormData(this);
                    $.ajax({
                          headers: { "X-CSRFToken": token },
                          url : "{% url 'carts:update_receipt' %}",
                          type : 'POST',
                          data : formData,
                          processData: false,  // tell jQuery not to process the data
                          contentType: false,  // tell jQuery not to set contentType
                          success : function(data) {                              
                              alert("uploaded success");
                              $('#checkout').attr('disabled',false);
                          },
                          error: function (err) {
                            alert("error please contact website");
                            $('#checkout').attr('disabled',true);
                          }
                      });                
                    });                
               
    });
   
    </script>
{% endblock %}

{% block bottom %}
    {% include 'carts/snippets/cart-ajax.html' %}
{% endblock %}